* {
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    inset: 0;

    color: white;
    background: black;
    border: 0px ; 
    


    overflow-x: hidden;
   
}

body {
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
    max-width: 100%;
    scroll-behavior:auto;
    transition-timing-function: ease-out;
    

}

html {
    overflow-y: visible;
    width: 100vw;
    height: 100vh;
}



.page {
    
    


    scroll-snap-align: start;
   height: 100vh;
    margin: auto;
    width: 100vw;

    border: black solid 1px;
   background-color: aqua;
    
}

